html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}


.container {
    position: relative;
    width: 1300px;
    height: auto;
    display: flex;
    /* padding: 20px 0 14px; */
}


/* NAVBAR */

.navbar_frame {
    position: relative;
    width: 100%;
    height:145px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(68, 50, 151, 1);
}

.navbar_frame .container {
    padding: 20px 0 14px;
    flex-direction: column;
}

.navbar_frame .container .navbar_top {
    width: 100%;
    height:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: greenyellow; */

}


.navbar_frame .navbar_top .nav_search_frame {
    /* Rectangle 2 */
    /* position: relative; */
   width: 651px;
   height: 50px;
   border-radius: 6px;

   display: flex;
   flex-direction: row
   ;
   background: rgba(255, 255, 255, 1);
}


.navbar_frame .nav_search_frame .search_box {
    padding: 10px 17px;
    display:flex;
    flex-direction: row;
    align-items: center;

}


.navbar_frame .search_box .category_list {
    /* categories */
width: 166px;
height: 30px;
border-right: 1px solid rgba(214, 214, 214, 1);

}


.navbar_frame .category_list select {
    width: 140px;
    height: 30px;

    border: none;
    outline: none;

    color: rgba(4, 30, 66, 1);
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}


.navbar_frame .search_box input {
    margin-left: 12px;
    width: 387px;
    height: 22px;
    border: none;
    outline: none;
    
    color: rgba(98, 105, 116, 1);

    font-family: Jost;
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;

}


.navbar_frame .nav_search_frame .search_icon_box {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 0px 6px 6px 0px;
    background: rgba(245, 195, 75, 1);

}


.navbar_frame .navbar_top .nav_top_menu {
    width: 416px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.navbar_frame .nav_top_menu .top_menu_box {
    display: flex;
    flex-direction: row;
}


.navbar_frame .top_menu_box .box_icon_box {
    position: relative;
    width: 54px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;

}


.navbar_frame .top_menu_box .box_info_box {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}


.navbar_frame .box_info_box span {
    color: rgba(255, 255, 255, 1);

font-family: Jost;
font-style: Regular;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}


.navbar_frame .box_info_box strong {
    color: rgba(255, 255, 255, 1);

font-family: Jost;
font-style: Regular;
font-size: 15px;
font-weight: 500px;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}


.navbar_frame .box_icon_box .basket_count {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50% ;
    background: rgb(245, 195, 75);

    color: rgb (11, 30, 64);
    font-family: jost ;
    font-size: 8px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0%;
    text-align: left;

}

.navbar_frame .container .navbar_bott {
    margin-top: 20px;
    border-top: 1px solid  #5747A1 ;
}


.navbar_frame .navbar_bott .navbar_bott_menu_box {
    margin-top: 10px;
    height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.navbar_frame .navbar_bott .browse_box {
    width: 185px;
    display: flex;
    flex-direction: row;
    align-items: center;

    border-right: 1px solid #5747A1;
}


.navbar_frame .browse_box img {
    width: 20px;
    height: 18px;
}


.navbar_frame .browse_box span {
    margin-left: 10px;
    color:rgb(255, 255, 255);
    font-family: jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}


.navbar_frame .navbar_bott_menu_box .navbar_route_menu {
    width: 670px;
    display: flex;
    flex-direction: row;
}


.navbar_frame .navbar_route_menu a {
    margin-right: 10px;
    font-family: jost;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.navbar_frame .navbar_route_menu a.title {
    color: #F5C34B;
}


.navbar_frame .sorting_menu span {
    margin-left: 10px;
    color: rgba(255, 255, 255, 1);
    font-family: jost;
    font-size: 16px;
    font-weight: 400;
}

/* footer frame */
.footer_frame {
    position: relative;
    padding: 90px 0 30px;
    width: 100%;
    height:auto ;
    display: flex;
    justify-content: center;
    background: #F3F5F6;
}

.footer_frame .container {
  display: flex;
  flex-direction: column;
}

.footer_frame .footer_top {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.footer_frame .container .contacts {
    width:285px ;
    height: auto;
    display: flex;
    flex-direction: column;
}

.footer_frame .container .footer_top .spes_title {
  width: 100.94px;
  height: 26px;
  color: rgba(4, 30, 66, 1);

    font-family: Jost;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px; 
}

.footer_frame .contacts .contact_main {
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.footer_frame .contacts .contact_main img {
    width: 35px;
    height: 30px;
}

.footer_frame .contact_box {
    width: 100;
    height: 138;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.footer_frame .contacts .contact_box strong {
    /* Monday-Friday: 08am-9pm */
    width: 209px;
    height: 22px;
    color: rgba(4, 30, 66, 1);

    font-family: Jost;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

.footer_frame .contacts .contact_box span {
    margin-top: 10px;
    /* +(1) 123 456 7890 */
    width: 144.88px;
    height: 22px;
    color: rgba(4, 30, 66, 1);

    font-family: Jost;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    }

    .footer_framev .footer_top .support {
        margin-left: 65px;
        width: 193px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .footer_frame .support .suppoet_text {
        margin-top:20px ;
        width: 165.62px;
        height: 200px;
        color: rgba(4, 30, 66, 1);

        font-family: Jost;
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 40px;
    }

    .footer_frame .footer_top .servise {
        margin-left:40px ;
    }

    .footer_frame .footer_top .follow_us {
        margin-left:55px ;
        width: 163px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .footer_frame .follow_us .footer_icon {
        margin-top: 30px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer_frame .follow_us .mobile_apps {
        margin-top: 30px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .footer_frame .mobile_apps .mobile {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
    }

    .footer_frame .mobile_apps .mobile img {
        width: 24px;
        height: 20px;
    }

    .footer_frame .mobile_apps .mobile a {
            margin-top: -10px;
            margin-left:21px ;
        width: 118.38px;
        height: 80px;
        color: rgba(4, 30, 66, 1);

        font-family: Jost;
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 40px;      
    }

   .footer_frame .footer_card {
    position: relative;
    margin-left: 68px;
    width: 272px;
    height:auto ;
    display: flex;
   }

     

 .footer_frame .container .footer_bottom {
    margin-top: 90px;
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-top: 1px solid #EAEAEA;
 }

 .footer_frame .footer_bottom .footer_min {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
 }

 .footer_frame .footer_min .footer_bottom_left {
    width: 770px;
    height: auto;

    display: flex;
    flex-direction: row;
 }

 .footer_frame .footer_bottom .footer_bottom_left span {
    margin-right: 60px;
    color: rgba(4, 30, 66, 1);

    font-family: Jost;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
 }

 .footer_frame .footer_min .footer_bottom_right {
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .footer_frame .footer_bottom_right .footer_select_bex {
    width: 180px;
    height: 40px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background:#FFFFFF;
 }

 .footer_frame .footer_select_bex span {
    color: rgba(98, 105, 116, 1);

    font-family: Jost;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
 }

 .footer_frame .footer_select_bex select {
    margin-left: 15px;
    width:70px ;
    height: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    color: rgba(4, 30, 66, 1);

    font-family: Jost;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
 }