.home_page {
    display: flex;
    flex-direction: column;
}

.headr_frame {
    position: relative;
    margin-top: 47px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.headr_frame .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headr_frame .container .headr_left {
    position: relative;
    padding: 15px;
    width: 871px;
    height: 508px;
    border-radius: 5px;
    background-color: #0053F6;
    background-image: url("../images/icons/header_bg.svg");
}

.headr_frame .headr_left .headr_container {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.headr_frame .headr_container div {
    width: 104px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: rgba(245, 195, 75, 1);
    
    color: rgba(4, 30, 66, 1);

   font-family: Jost;
   font-style: normal;
   font-size: 13px;
   font-weight: 500;
   line-height: 22px;
   letter-spacing: 0%;
}

.headr_frame .headr_container span {
    margin-top: 10px;
    width: 428px;
    
    color: rgba(255, 255, 255, 1);
    font-family: Jost;
    font-style: normal;
    font-size: 60px;
    font-weight: 400;
    line-height: 87px;
    letter-spacing: 0%;
}

.headr_frame .headr_container p {
    /* width: 262px; */
    margin-top: 10px;
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}

.headr_frame .headr_container a {
    margin-top: 20px;
    width: 140px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border-radius: 6px;
    background: rgba(255, 255, 255, 1);
    color: rgba(4, 30, 66, 1);

    font-family: Jost;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;  
}

.headr_frame .headr_container img {
    position: absolute;
    right: 13px;
}

.headr_frame .container .headr_right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headr_frame .headr_right .headr_box {
    margin-left: 15px;
   width: 422px;
   height: 240px;
   display: flex;
   flex-direction: row;
   border-radius: 5px;
   background: rgba(242, 242, 242, 1);
}

.headr_frame .headr_right .box_left {
    margin-left: 35px;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headr_frame .box_left span {

    font-family: Jost;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 83, 246, 1);
}

.headr_frame .box_left p {

    font-family: Jost;
    font-style: normal;
    font-size: 26px;
    font-weight: 500;
    line-height: 38px;
    color: rgba(4, 30, 66, 1);
}

.headr_frame .box_left a {
    font-family: Jost;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;

    color: rgba(4, 30, 66, 1);
}

.headr_frame .box_left .hover_border {
    margin-top: 3px;
    width: 32px;
    height: 2px;
    background: rgba(4, 30, 66, 1);
}

.headr_frame .headr_box .box_right {
    width: 50%;
}

.headr_frame .box_right img {
    width: 100%;
    height: 100%;

}

/* service */

.home_page .service_frame {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.service_frame .service_box {
    width: 25%;
    height: 86px;

    display: flex;
    flex-direction: row;

    border-bottom: 1px solid #EAEAEA ;
}

.service_frame .service_box img {
    width: 35px;
    height: 35px;
}

.service_frame .service_box .service_content {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
}

.service_frame .service_content span {
    font-family: Jost;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #041E42;
}

.service_frame .service_content p {
    font-family: Jost;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;

    color: #626974;
}

/* SHOP CATEGORY */

.shop_category_frame {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.shop_category_frame .container {
   flex-direction: column;
}

.container .category_top {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop_category_frame .category_top span {
   font-family: Jost;
   font-style: normal;
   font-size: 28px;
   font-weight: 500;
   line-height: 40px;
    color: #041E42;
}

.shop_category_frame .category_top a {
   font-family: Jost;
   font-style: normal;
   font-size: 15px;
   font-weight: 500;
   line-height: 22px;
    color: #041E42;
}

.shop_category_frame .category_top a:hover {
    border-bottom: 2px solid #041E42;
}

.shop_category_frame .container .category_wrapper {
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop_category_frame .category_wrapper .category_box {
   width: 142px;
   height: auto;
   
   display: flex;
   flex-direction: column;
   cursor: pointer;
}

.shop_category_frame .category_box .category_img_box {
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 150px;
    background: rgba(255, 255, 255, 1); 
}

.shop_category_frame .category_box span {
    font-family: Jost;
   font-style: normal;
   font-size: 16px;
   font-weight: 500;
   line-height: 28px;
    color: #041E42;
    text-align: center;

}