.home_page {
    display: flex;
    flex-direction: column;
}

.white_svg {
    filter: brightness(0) invert(1);
}

.container .category_top {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category_top div {
    display: flex;
    flex-direction: row;
}
.container .category_top span {
   font-family: Jost;
   font-style: normal;
   font-size: 28px;
   font-weight: 500;
   line-height: 40px;
    color: #041E42;
    text-transform: capitalize;
}

.container .category_top a {
    margin-left: 30px;
   font-family: Jost;
   font-style: normal;
   font-size: 15px;
   font-weight: 500;
   line-height: 22px;
    color: #041E42;
    text-transform: capitalize;
}

 .container .category_top a:hover {
    border-bottom: 2px solid #041E42;
}


/* PAGINATION */
.container .pagionation_box {
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .pagionation_box .paginat_main {
    width: auto;
    height: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.container .paginat_main .pagination_dot {
    margin: 0 20px;
    
    display: flex;
    flex-direction: row;
}

.paginat_main {
    cursor: pointer;
}

.container .pagination_dot .dot {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   
}

.container .pagination_dot .active {
    border: 2px solid #112137;
}


.container .pagination_dot .dot div {
    width: 4px;
    height: 4px;
    background:#112137 ;
    border-radius: 50%;
}


.container .hover_border {
    margin-top: 3px;
    width: 32px;
    height: 2px;
    background: rgba(4, 30, 66, 1);
}

/* content */
.product_container_box {
    padding: 7px 22px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.container .product_container_box .product_title {
    color: rgba(4, 30, 66, 1);

    font-family: Jost;
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.container .product_container_box .product_desc {
    height: 56px;
    margin-top: 7px;
    color: rgba(4, 30, 66, 1);

   font-family: Jost;
   font-style: normal;
   font-size: 16px;
   font-weight: 500;
   line-height: 28px;
   overflow: hidden;
}

.container .product_container_box .reviw_box {
    margin-top: 7px;
    width: 170px;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}


.container .reviw_box span {
    margin-left:5px;
    color: rgba(98, 105, 116, 1);

    font-family: Jost;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.container.product_container_box .price_box {
    margin-top: 14;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.container .price_box strong {
    color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: normal;
font-size: 18px;
font-weight: 500;
line-height: 26px;
}

.container .price_box span {
    margin-left: 10px;
    color: rgba(98, 105, 116, 1);

    font-family: Jost;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: line-through;

}



/* HEADR FREM */
.headr_frame {
    position: relative;
    margin-top: 47px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.headr_frame .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headr_frame .container .headr_left {
    position: relative;
    padding: 15px;
    width: 871px;
    height: 508px;
    border-radius: 5px;
    background-color: #0053F6;
    background-image: url("../images/icons/header_bg.svg");
}

.headr_frame .headr_left .headr_container {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

.headr_frame .headr_container div {
    width: 104px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: rgba(245, 195, 75, 1);
    
    color: rgba(4, 30, 66, 1);

   font-family: Jost;
   font-style: normal;
   font-size: 13px;
   font-weight: 500;
   line-height: 22px;
   letter-spacing: 0%;
}

.headr_frame .headr_container span {
    margin-top: 10px;
    width: 428px;
    
    color: rgba(255, 255, 255, 1);
    font-family: Jost;
    font-style: normal;
    font-size: 60px;
    font-weight: 400;
    line-height: 87px;
    letter-spacing: 0%;
}

.headr_frame .headr_container p {
    margin-top: 10px;
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}

.headr_frame .headr_container a {
    margin-top: 20px;
    width: 140px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border-radius: 6px;
    background: rgba(255, 255, 255, 1);
    color: rgba(4, 30, 66, 1);

    font-family: Jost;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;  
}

.headr_frame .headr_container img {
    position: absolute;
    right: 13px;
}

.headr_frame .container .headr_right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headr_frame .headr_right .headr_box {
    margin-left: 15px;
   width: 422px;
   height: 240px;
   display: flex;
   flex-direction: row;
   border-radius: 5px;
   background: rgba(242, 242, 242, 1);
}

.headr_frame .headr_right .box_left {
    margin-left: 35px;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headr_frame .box_left span {

    font-family: Jost;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 83, 246, 1);
}

.headr_frame .box_left p {

    font-family: Jost;
    font-style: normal;
    font-size: 26px;
    font-weight: 500;
    line-height: 38px;
    color: rgba(4, 30, 66, 1);
}

.headr_frame .box_left a {
    font-family: Jost;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;

    color: rgba(4, 30, 66, 1);
}


.headr_frame .headr_box .box_right {
    width: 50%;
}

.headr_frame .box_right img {
    width: 100%;
    height: 100%;

}

/* service */

.home_page .service_frame {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.service_frame .service_box {
    width: 25%;
    height: 86px;

    display: flex;
    flex-direction: row;

    border-bottom: 1px solid #EAEAEA ;
}

.service_frame .service_box img {
    width: 35px;
    height: 35px;
}

.service_frame .service_box .service_content {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
}

.service_frame .service_content span {
    font-family: Jost;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #041E42;
}

.service_frame .service_content p {
    font-family: Jost;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;

    color: #626974;
}

/* SHOP CATEGORY */

.shop_category_frame {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.shop_category_frame .container {
   flex-direction: column;
}


.shop_category_frame .container .category_wrapper {
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop_category_frame .category_wrapper .category_box {
   width: 142px;
   height: auto;
   
   display: flex;
   flex-direction: column;
   cursor: pointer;
}

.shop_category_frame .category_box .category_img_box {
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 150px;
    background: rgba(255, 255, 255, 1); 
}

.shop_category_frame .category_box span {
    font-family: Jost;
   font-style: normal;
   font-size: 16px;
   font-weight: 500;
   line-height: 28px;
    color: #041E42;
    text-align: center;

}

/* selling_produgt_frame */
.selling_produgt_frame {
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selling_produgt_frame .container {
    flex-direction: column;
}


/* slide */
  .product_img_box {

        width:100% ;
        height: 280px;
        background-image: url('../images/products/watch.png');
        background-size: cover;
    }

    .product_container_box .product_title {
    color: rgba(4, 30, 66, 1);

    font-family: Jost;
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.swiper {
  
 
}

.swiper-slide {
       width: 306px;
        height: 452px;
  
}



.selling_produgt_frame .container .product_wrapper {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selling_produgt_frame .product_wrapper .next_prev_box {
    width: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.selling_produgt_frame .next_prev_box img {
    display: none;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.selling_produgt_frame .product_wrapper .product_boxes {
    width: 1224px;
    height: 452px;

    display: flex;
    flex-direction: row;
}

.selling_produgt_frame .product_boxes .product_box {
    width: 306px;
    height: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.selling_produgt_frame .product_box .product_img_box {
    width: auto;
    height: 280px;
}

.selling_produgt_frame .product_img_box .hover_box {
    display: none;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.selling_produgt_frame .hover_box button {
    width: 262px;
    height: 52px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
    background: rgba(0, 83, 246, 1);

    border: none;
    outline: none;

    color: rgba(255, 255, 255, 1);

    font-family: Jost;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    
}


.selling_produgt_frame .product_img_box:hover .hover_box {
    display: flex;
    
}

.home_page .adv_frame {
    margin-top: 90px;
    width: 100%;
    height:120px ;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(0, 83, 246, 1);

font-family: Jost;
font-style: normal;
font-size: 18px;
font-weight: 500;
line-height: 26px;

border-radius: 6px solid #0053F6 ;
background: rgba(229, 237, 255, 1);
}

/* SPEC PRODUCT */
.home_page .spec_prodact_frame {
    margin-top: 90px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.spec_prodact_frame .container {
    flex-direction: column;

}

.spec_prodact_frame .container .spec_praduct_wrapper {
    position: relative;
    margin-top: 35px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;    
}

.spec_prodact_frame .spec_praduct_wrapper .big_product_box {
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    width: 664px;
    height: 368px;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    background: #F3F5F6;
}

.spec_prodact_frame .big_product_box .big_product_content {
    width: 160px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.spec_prodact_frame .big_product_content span {
    font-family: Jost;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #041E42;
}

.spec_prodact_frame .big_product_content p {
    margin: 7px 0;
   font-family: Jost;
   font-style: normal;
   font-size: 26px;
   font-weight: 500;
   line-height: 38px;
    color: #041E42;
}

.spec_prodact_frame .big_product_content a {
    font-family: Jost;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    color: #041E42;
}

.spec_prodact_frame .big_product_box img {
    position: absolute;
    width: 322px;
    height: 309px;
    right: 30px;
}

.spec_prodact_frame .spec_praduct_wrapper .small_product_wrapper {
     width: 620px;
    height: 368%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
    gap: 30px;
    
}



.spec_prodact_frame .spec_praduct_wrapper .small_product_wrapper {
    margin-left: 30px;
    width: 620px;
    height: 368px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.spec_prodact_frame .spec_praduct_wrapper .small_product_box {
    position: relative;
    width: 290px;
    height: 170px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 6px;
    background: #F3F5F6; 
}

.small_product_box:nth-child(odd) {
    /* margin-right: 30px; */
}

.small_product_box:nth-child(even) {
    /* margin-right: 2px; */
}

.spec_prodact_frame .small_product_box .small_product_content {
    display: flex;
flex-direction: column;}

.spec_prodact_frame .small_product_content strong {
    font-family: Jost;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #041E42;
}

.spec_prodact_frame .small_product_content span {
    font-family: Jost;
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #041E42;
}

.spec_prodact_frame .small_product_box img {
    position: absolute;
    right: 30px;
    top: 40px;
}

.spec_prodact_frame .small_product_box .imgs {
    position: absolute;
    right: 30px;
    top: 80px;
}

/* TV PRODUCT */
.tv_product_frame {
    position: relative;
    width: 100%;
    height: auto;
    margin-top:90px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tv_product_frame .container {
    flex-direction: column;
    
}

.tv_product_frame .tv_product_wrapper {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.tv_product_frame .next_prev_box {
    width: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
}

.tv_product_frame .next_prev_box img {
    position: absolute;
    top: 55%;
    cursor: pointer;
}

.tv_product_frame .next {
    width: 25px;

    position: absolute;
    right: 0;
    top: 55%;
    cursor: pointer;
}

.tv_product_frame .tv_product_boxes {
    padding: 20px;
    box-sizing: border-box;
    width: 1300px;
    height: 452px;
    display: flex;
    flex-direction: row;
}

.tv_product_frame .tv_product_boxes .tv_product_box {
    padding: 0 18px;
    box-sizing: border-box;
    width: 260px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}


/* even sell product */
.home_page .event_frame {
    position: relative;
    width: 100%;
    height: 632px;
    margin-top:90px ;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../images/icons/event_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.event_frame .container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.event_frame .event_content {
    margin-right: 17px;
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event_frame .event_content .day {
    color: rgba(255, 255, 255, 1);

    font-family: Jost;
    font-style: normal;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.event_frame .event_content .time_sell {
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event_frame .event_content .time {
    width: 52px;
    height: 62px;
    display: flex;
    flex-direction: column;
}

.event_frame .time_sell .time strong {
    color: rgba(255, 255, 255, 1);

    font-family: Jost;
    font-style: Medium; 
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.event_frame .time_sell .time span {
    color: rgba(255, 255, 255, 1);

    font-family: Jost;
    font-style: normal;
    font-size: 16px;
    font-weight: 450;
    line-height: 28px;
}


.event_frame .event_content button {
    margin-top: 30px;
    width: 141.79px;
    height: 52px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 15px ;
    box-sizing: border-box;

    border-radius: 6px;
    border: none;
    outline: none;

    color: rgba(4, 30, 66, 1);

    font-family: Jost;
    font-style: Medium;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}

/* eventwrwpper */
.event_frame  .event_wrapper {

    width: 970px;
    height:auto;
    display: flex;
    flex-direction: row;
    

}

.event_frame .event_wrapper .sell_boxs {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event_frame .event_wrapper .sell_box {
    margin-right: 8px;
    margin-right: 8px;
    overflow: hidden;
    width: 205px;
    height:392px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: #ffffff;
}

.event_frame .sell_box .sell_img_box {
    width: 100%;
    height: 220px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.event_frame .event_wrapper .slide {
    margin-right: 23px;
    margin-left: 17px;
}